<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.root.login.mybatis.LoginMapper">
	<resultMap type="com.care.root.login.dto.LoginDTO" id="check">
		<id property="id" column="member_id"/>
		<result property="pw" column="member_pw"/>
		<result property="name" column="member_name"/>
		<result property="limitTime" column="limit_time"/>
		<result property="sessionId" column="session_id"/>
	</resultMap>
	
	<!-- 로그인-->
	<select id="login" resultMap="check">
		select member_pw from z_member where member_id=#{id} 
	</select>
	
	<update id="keepLogin">
		update z_member set session_id=#{sessionId},
			limit_time=#{limitDate} where member_id=#{id}
	</update>
	
	<select id="getUserSessionId" resultMap="check">
		select * from z_member where session_id=${sessionId}
	</select>
</mapper>