<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.root.adminProduct.mtbatis.productMapper">
	<resultMap type="com.care.root.admin.product.dto.productDTO" id="product">
		<id property="productNum" column="product_num"/>
		<result property="productName" column="product_name"/>
		<result property="productTitle" column="product_title"/>
		<result property="productCategory" column="product_category"/>
		<result property="productContent" column="product_content"/>		
		<result property="productDate" column="product_data"/>
		<result property="productCompany" column="product_company"/>		
		<result property="productQuantity" column="product_quantity"/>
		<result property="productPee" column="product_pee"/>
	</resultMap>
	
	
	<!-- <resultMap type="productImageDTO" id="productImageDTO_rm"> -->
	<resultMap type="com.care.root.admin.product.dto.productImageDTO" id="productImg">
			<id property="fileNo" column="file_no"/>
			<result property="filePath" column="file_path"/>
			<result property="fileName" column="file_name"/>
			<result property="fileLevel" column="file_level"/>
			<result property="parentBoardNo" column="parent_board_no"/>
  </resultMap>		
		
	
	
	
	<select id="adminProductList" resultMap="product">
		select * from product order by product_data desc
		
	</select>
	<insert id="insertProduct" parameterType="map">
		insert into product(product_num,product_name,product_title,product_category,product_content,product_company,product_quantity,product_pee)
		values(#{productNum},#{productName},#{productTitle},#{productCategory},#{productContent},#{productCompany},#{productQuantity},#{productPee})
	</insert>
	
	<select id="adminProductView" resultMap="product">
		select * from product where product_num=#{productNum}
	</select>
	
	<update id="productModify">
		update product set product_name=#{productName}, product_title=#{productTitle}, product_category=#{productCategory},product_content=#{productContent},product_company=#{productCompany},
		product_quantity=#{productQuantity},product_pee=#{productPee} where product_num=#{productNum}
	</update>
	
	<!-- <delete id="delete">
		delete product where product_num=#{productNum}
	</delete> -->
	
		<!-- 파일 정보 삽입(List 이용)-->
		<insert id="insertProductImg" parameterType="list">
			INSERT INTO productImage
			SELECT SEQ_FNO.NEXTVAL, A.* FROM (
				<foreach collection="list" item="item"  separator=" UNION ALL ">
					SELECT #{item.filePath} FILE_PATH,
								 #{item.fileName} FILE_NAME,
								 #{item.fileLevel} FILE_LEVEL,
								 #{item.parentBoardNo} PARENT_BOARD_NO
					FROM DUAL	
				</foreach>
			)A
		
		</insert>
</mapper>

















